.frame-66,
.frame-66 * {
  box-sizing: border-box;
}
.frame-66 {
  background: #ffffff;
  width: 1510px;
  height: 1018px;
  position: relative;
  overflow: hidden;
  top: 75px;
  z-index: 2 !important;
}
.div-details {
  width: 382.27px;
  position: absolute;
  left: 847px;
  bottom: 367px;
  top: 151px;
}
.heading-2-quzu {
  color: #000000;
  text-align: left;
  font: 700 30px "Roboto-Bold", sans-serif;
  position: absolute;
  left: 0px;
  top: -18px;
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-arrival {
  color: #a41818;
  text-align: left;
  font: 400 25px/30px "Roboto-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 25px;
  width: 285.4px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rs-1000 {
  color: #000000;
  text-align: left;
  font: 700 29.06px "Roboto-Bold", sans-serif;
  position: absolute;
  left: 0px;
  top: 67px;
  width: 114px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.select-size {
  color: #000000;
  text-align: left;
  font: 300 30px "Roboto-Light", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 214.18px;
  width: 210px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label {
  background: #383838;
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 267.18px;
}
.xs {
  color: #ffffff;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 11.66px;
  top: 16px;
  width: 26.89px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label2 {
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 64.46px;
  top: 267.18px;
}
.s {
  color: #383838;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 18.33px;
  top: 16px;
  width: 13.54px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label3 {
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 128.91px;
  top: 267.18px;
}
.m {
  color: #383838;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 16.66px;
  top: 16px;
  width: 16.87px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label4 {
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 193.36px;
  top: 267.18px;
}
.l {
  color: #383838;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 19.44px;
  top: 16px;
  width: 11.33px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label5 {
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 257.82px;
  top: 267.18px;
}
.xl {
  color: #383838;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 12.76px;
  top: 16px;
  width: 24.67px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label6 {
  border-radius: 25px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 322.27px;
  top: 267.18px;
}
.xxl {
  color: #383838;
  text-align: center;
  font: 400 20px/50px "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 6.09px;
  top: 16px;
  width: 38.01px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #383838;
  border-radius: 5px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  position: absolute;
  right: 198.64px;
  left: 0px;
  bottom: 88.82px;
  top: 347.17999267578125px;
}
.add-to-cart {
  color: #ffffff;
  text-align: center;
  font: 400 18px "Roboto-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 47.75px);
  top: 23px;
  width: 95.7px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  border-radius: 5px;
  border-style: solid;
  border-color: #383838;
  border-width: 1px;
  position: absolute;
  right: 0.01px;
  left: 198.6300048828125px;
  bottom: 88.82px;
  top: 347.17999267578125px;
}
.add-to-whishlist {
  color: #383838;
  text-align: center;
  font: 400 17.86px "Roboto-Regular", sans-serif;
  position: absolute;
  left: calc(50% - 66.59px);
  top: 23px;
  width: 133.36px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-image-slider {
  width: 500px;
  position: absolute;
  left: 131px;
  bottom: 367px;
  top: 120px;
}
.div-product-images {
  background: #ffffff;
  border-radius: 5px;
  height: 100px;
  position: absolute;
  right: 5%;
  left: 5%;
  width: 90%;
  bottom: 20px;
}
.quzu-1-jpg {
  height: 80px;
  position: absolute;
  right: 362px;
  left: 10px;
  top: calc(50% - 40px);
  overflow: hidden;
}
.quzu-2-jpg {
  height: 80px;
  position: absolute;
  right: 274px;
  left: 98px;
  top: calc(50% - 40px);
  overflow: hidden;
}
.quzu-3-jpg {
  height: 80px;
  position: absolute;
  right: 186px;
  left: 186px;
  top: calc(50% - 40px);
  overflow: hidden;
}
.quzu-4-jpg {
  height: 80px;
  position: absolute;
  right: 98px;
  left: 274px;
  top: calc(50% - 40px);
  overflow: hidden;
}
.quzu-5-jpg {
  height: 80px;
  position: absolute;
  right: 10px;
  left: 362px;
  top: calc(50% - 40px);
  overflow: hidden;
}
.group-8 {
  position: absolute;
  inset: 0;
}
.section {
  width: 651px;
  height: 35px;
  position: absolute;
  left: calc(50% - 589px);
  top: 716px;
}
.ordered-list-item-15-g-n-i-inde-cretsiz-iade {
  color: #807d7e;
  text-align: left;
  font: 400 16px/25px "Inter-Regular", sans-serif;
  position: absolute;
  left: 15px;
  top: 834px;
  width: 470px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2-description {
  color: #000000;
  text-align: left;
  font: 700 30px "Kanit-Bold", sans-serif;
  position: absolute;
  left: 131px;
  top: 769px;
  width: 192px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-49 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 131px;
  top: 64px;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 16px "Inter-Regular", sans-serif;
  position: relative;
  top: -17px;
}
.frame {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  transform: translate(0px, -16px);
  overflow: visible;
}
.frame-9 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.shop {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  font: 400 16px "Inter-Regular", sans-serif;
  position: relative;
  top: -17px;
}
.frame2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  transform: translate(0px, -16px);
  overflow: visible;
}
.tops {
  color: #000000;
  text-align: left;
  font: 400 16px "Inter-Regular", sans-serif;
  position: relative;
  top: -17px;
}
.rectangle-23 {
  background: #f6f6f6;
  border-radius: 12px;
  opacity: 0.6000000238418579;
  width: 612px;
  height: 185px;
  position: absolute;
  left: 767px;
  top: 768px;
}
.line-4 {
  border-style: solid;
  border-color: #bebcbd;
  border-width: 1px 0 0 0;
  opacity: 0.4000000059604645;
  width: 612px;
  height: 0px;
  position: absolute;
  left: 767px;
  top: 860px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-50 {
  width: 516px;
  height: 172px;
  position: absolute;
  left: 815px;
  top: 775px;
}
.line-42 {
  border-style: solid;
  border-color: #bebcbd;
  border-width: 1px 0 0 0;
  opacity: 0.4000000059604645;
  width: 172px;
  height: 0px;
  position: absolute;
  left: 188px;
  top: 172px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-5 {
  border-style: solid;
  border-color: #bebcbd;
  border-width: 1px 0 0 0;
  opacity: 0.4000000059604645;
  width: 172px;
  height: 0px;
  position: absolute;
  left: 377px;
  top: 172px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.frame-38 {
  width: 138px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 17px;
  overflow: hidden;
}
.fabric {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.bio-washed-cotton {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
}
.frame-40 {
  width: 52px;
  height: 44px;
  position: absolute;
  left: 238px;
  top: 17px;
}
.pattern {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ripped {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
}
.frame-42 {
  width: 89px;
  height: 44px;
  position: absolute;
  left: 427px;
  top: 17px;
}
.fit {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.loose-fit {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
}
.frame-39 {
  width: 138px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 109px;
}
.neck {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.round-neck {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
}
.frame-41 {
  width: 89px;
  height: 44px;
  position: absolute;
  left: 238px;
  top: 109px;
}
.sleeve {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.full-sleeves {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
}
.frame-43 {
  width: 89px;
  height: 44px;
  position: absolute;
  left: 427px;
  top: 109px;
}
.style {
  color: #807d7e;
  text-align: left;
  font: 400 16px/16px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
.casual-wear {
  color: #3c4242;
  text-align: left;
  font: 500 16px/16px "Inter-Medium", sans-serif;
  position: absolute;
  left: 0px;
  top: 28px;
  width: 150px;
}
/* shgcschjbchbckjcndkjdkhx jhxcjhdbcsahbc sjc */
.desktop-17,
.desktop-17 * {
  box-sizing: border-box;
}
.desktop-17 {
  background: #ffffff;
  width: 1510px;
  height: 703px;
  position: relative;
  overflow: hidden;
  z-index: 6;
}
.section {
  width: 1200px;
  height: 46px;
  position: absolute;
  left: calc(50% - 639px);
  top: 19px;
}
.heading-1-best-selling {
  color: #000000;
  text-align: left;
  font: 700 30px "Kanit-Bold", sans-serif;
  position: absolute;
  left: 15px;
  top: 2px;
  width: 174px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list-item-heading-3-link-men-summer-set {
  color: #121212;
  text-align: center;
  font: 600 24px/36px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 578px);
  top: 620px;
  width: 286px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-figure-product-11-jpg {
  position: absolute;
  right: 987px;
  left: 114px;
  bottom: 122px;
  top: 97px;
  overflow: hidden;
  width: 413.3px;
  height: 516px;
}
.image-15 {
  width: 564px;
  height: 751px;
  position: absolute;
  left: -75px;
  top: -117px;
}
.list-item-heading-3-link-women-summer-set {
  color: #121212;
  text-align: center;
  font: 600 24px/36px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 148px);
  top: 620px;
  width: 290px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-figure-product-10-jpg {
  position: absolute;
  right: 550px;
  left: 551px;
  bottom: 122px;
  top: 97px;
  overflow: hidden;
  width: 413.3px;
  height: 516px;
}
.list-item-heading-3-link-comfort-dress {
  color: #121212;
  text-align: center;
  font: 600 24px/36px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - -332px);
  top: 621px;
  width: 209px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-figure-product-13-jpg {
  position: absolute;
  right: 114px;
  left: 987px;
  bottom: 122px;
  top: 97px;
  overflow: hidden;
  width: 413.3px;
  height: 516px;
}
.list-item-200-00 {
  color: #fc7940;
  text-align: center;
  font: 600 20px/30px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 487px);
  top: 655px;
  width: 88.93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-200-002 {
  color: #fc7940;
  text-align: center;
  font: 600 20px/30px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - 36px);
  top: 655px;
  width: 88.93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-200-003 {
  color: #fc7940;
  text-align: center;
  font: 600 20px/30px "Inter-SemiBold", sans-serif;
  position: absolute;
  left: calc(50% - -395px);
  top: 655px;
  width: 88.93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
